# Default owner

* @maiconfz

## Specifications

/specs/ @maiconfz

## Registry packages

/packages/ @maiconfz

## Examples and scripts

/examples/ @maiconfz
/scripts/ @maiconfz

## Community and process docs

/.github/ @maiconfz
/README.md @maiconfz
