# Default owner

* @maiconfz

## Specifications

/specs/ @maiconfz

## Registry packages

/packages/ @maiconfz

## Scripts

/scripts/ @maiconfz

## Community and process docs

/.github/ @maiconfz
/README.md @maiconfz
